<h1>Add a New Landmark</h1>

<form class="" action="/landmarks" method="post">

  <form action="/landmarks" method="POST">
    <label>Landmark Name</label>
    <input id="landmark_name" type="text" name="landmark[name]">
  <br></br>

  <label>Year Completed</label>
  <input id="landmark_year_completed" type="number" name="landmark[year_completed]">
<br></br>

  <input type="submit" name="" value="Create New Landmark">
</form>
